apiVersion: v1
kind: ConfigMap
metadata:
  name: banking-identityserver-configmap
  labels:
    app: banking-identityserver
data:
   MongoDbSettings__MongoConnectionString: "mongodb://Majid:Alm1ghty@mongodb:27017/myUserInfo?retryWrites=true&loadBalanced=false&connectTimeoutMS=10000&authSource=myUserInfo&authMechanism=SCRAM-SHA-1" # Internal DNS name of your mongodb Service
   MongoDbSettings__Database: "myUserInfo"
   MongoDbSettings__UserName: "Majid"
   MongoDbSettings__Password: "Alm1ghty"
   MongoDbSettings__Mechanism: "SCRAM-SHA-1"
   MongoDbSettings__DataVersion: "V1"
   MongoDbSettings__Collections__RefreshTokenCollection: "UserRefreshTokens"
   MongoDbSettings__Collections__UserInfoCollection: "UsersInfo"
   MongoDbSettings__Collections__UserCollection: "Users"
   DataBases__ExpireAfterDays: "15.0" 
    
   REDIS_HOST: "redis"    # Connection string of Redis Service
   REDIS_PORT: "6379"
 
   Keycloak__BaseUrl: "http://keycloak:8080/" # DNS name  of Keycloak
   Keycloak__Realm: "bankaccount" # DNS name  of Keycloak
   Keycloak__ClientId: "identityproviderclient" # DNS name  of Keycloak
   Keycloak__ClientSecret: "UzCUCiIMBdjmnIF4xM4BhechsU8cGTmA" # DNS name  of Keycloak
   Keycloak__Audience: "account" # DNS name  of Keycloak
   Keycloak__Authority: "https://demo.identityserver.io" # DNS name  of Keycloak
   ApiGatewayBaseUrl: "http://host.docker.internal:5000"
   CorsOrigin: "http://10.100.0.50:5263"
   swagger__enabled: "true"
   swagger__reDocEnabled: "false" 
   swagger__name: "v2"
   swagger__title: "Identity Service"
   swagger__version: "v2"
   swagger__routePrefix: ""
   swagger__includeSecurity: "true"
   ASPNETCORE_ENVIRONMENT: "Development"
   ASPNETCORE_URLS : http://+:80
   serilog_config.json: |
    {
      "Serilog": {
    "Using": [
      "Serilog.Sinks.Console",
      "Serilog.Sinks.Seq",
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "WriteTo": [
      { "Name": "Console" },
      {
        "Name": "Seq",
        "Args": {
          "serverUrl": "http://seq:5341"
        }
      }
    ],
    "Enrich": [ "FromLogContext", "WithMachineName", "WithThreadId" ],
    "Properties": {
      "Application": "IdentityService"
    }
   OTEL_EXPORTER_OTLP_ENDPOINT: "http://seq:5341/ingest/otlp/v1/traces"
   OTEL_EXPORTER_OTLP_PROTOCOL: "http/protobuf"