apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-configmap
data:
  MongoDbSettings_MongoConnectionString: "mongodb://Majid:Alm1ghty@mongodb:27017/myUserInfo?retryWrites=true&loadBalanced=false&connectTimeoutMS=10000&authSource=myUserInfo&authMechanism=SCRAM-SHA-1"