apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-configmap
data:
  # The key name "init.sh" is used here to store the script content as a value.
  init.sh: |
    #!/bin/sh
    set -e # Exit immediately if a command exits with a non-zero status.

    # Wait for PostgreSQL to become available
    until pg_isready -h postgres -U ${POSTGRES_USER}
    do
      echo "Waiting for PostgreSQL to start..."
      sleep 2
    done

    echo "PostgreSQL is up and running. Executing initialization script..."

    # Execute SQL commands using psql
    psql -h postgres -U ${POSTGRES_USER} -d ${POSTGRES_DB} <<-EOSQL
      -- Create users
        CREATE USER Majid WITH CREATEDB LOGIN SUPERUSER INHERIT CREATEROLE NOREPLICATION BYPASSRLS ENCRYPTED PASSWORD '$DB_APP_USER_PASS';
        CREATE USER keycloak WITH ENCRYPTED PASSWORD '$DB_KEYCLOAK_USER_PASS';
        -- Create databases and grant privileges

        CREATE DATABASE keycloak;
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;
    EOSQL
