services:
  postgres:
    container_name: mypostgres
    image: postgres:16.4
    restart: on-failure
    volumes:
      - ./db-data:/var/lib/postgresql/data/
      - ./postgres-init:/docker-entrypoint-initdb.d
    environment:
       POSTGRES_DB: keycloak_db
       POSTGRES_USER: keycloak
       POSTGRES_PASSWORD: keycloakpassword
       POSTGRES_HOST_AUTH_METHOD: scram-sha-256
       POSTGRES_INITDB_ARGS: --auth-host=scram-sha-256
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432
    networks:
      - backend
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 5050:80
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks: 
      - backend
    depends_on:
       postgres:
        condition: service_started
    restart: 
      on-failure
  keycloak:
    container_name: keycloak_identity
    build:
      context: .
      dockerfile: ./KeyCloakDockerfile/Dockerfile
    environment:
      KC_DB_URL_HOST: postgres
      KC_DB: postgres 
      KC_DB_URL_DATABASE: keycloak_db
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpassword
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB_URL:  jdbc:postgresql://postgres:5432/keycloak_db 
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "false"
      KC_HOSTNAME: keycloak
      KC_HTTP_PORT: 8080
      KC_HOSTNAME_BACKCHANNEL: http://keycloak:8080
    volumes:
      - ./data/import:/opt/keycloak/data/import
    depends_on:
       postgres:
          condition: service_healthy 
    ports:
      - 8080:8080
      - 9000:9000
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080;echo -e 'GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;"] 
      start_period: 10s
      interval: 30s
      retries: 3
      timeout: 5s
    restart: always
    networks :
      - backend
       
  mongodb:
    image: mongo:8.0
    container_name : mymongo
    ports:
      - 27017:27017
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh --port 27017 --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - mongo_config:/data/configdb
      - mongodb_data:/data/db
      - ./data/mongo/001_users.js:/docker-entrypoint-initdb.d/001_users.js:ro
    networks:
      - backend
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - 15672:15672
      - 5672:5672
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq:rw
    networks:
      - backend

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s # Optional: Time to wait before starting health checks
    restart: always
    volumes:
      - redis_data:/docker_data/redis:rw
    networks:
      - backend
  seq:
    image: datalust/seq:2024.3
    container_name: seq
    restart: always
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - ./docker_data/seq:/data
    ports:
      - 5341:5341
      - 8081:80
    networks:
      - backend
  # Services  
  banking-identityserver:
    image: banking-identityserver
    container_name: banking-identityserver
    build:
      context: .
      dockerfile: src/Crosscutting/BankingDDD.IdentityServer/Identity/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: '${ASPNETCORE_ENVIRONMENT:-Development}'
      ASPNETCORE_URLS: 'http://+:80'    
    healthcheck:      
      test: curl --fail http://banking-identityserver:80/health || exit 1      
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
      start_interval: 30s
    ports:
      - '5263:80'
    networks:
      - backend
    restart: 
      always
    depends_on:
      keycloak:
        condition: service_healthy
      mongodb:
        condition: service_healthy
  banking-customermanagement:
    image: banking-customermanagement
    container_name: banking-customermanagement
    build:
      context: .
      dockerfile: src/Services/BankingApp.CustomerManagement/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: '${ASPNETCORE_ENVIRONMENT:-Development}'
      ASPNETCORE_URLS: 'http://+:80'   
    healthcheck:      
      test: curl --fail http://banking-customermanagement:80/health || exit 1      
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
      start_interval: 30s
    ports:
      - '5157:80'
    networks:
      - backend
    restart: 
      always
    depends_on:
      keycloak:
        condition: service_healthy
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
 
  banking-accountmanagement:
    image: banking-accountmanagement
    container_name: banking-accountmanagement
    build:
      context: .
      dockerfile: src/Services/BankingApp.AccountManagement/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: '${ASPNETCORE_ENVIRONMENT:-Development}'
      ASPNETCORE_URLS: 'http://+:80'    
    healthcheck:      
      test: curl --fail http://banking-accountmanagement:80/health || exit 1      
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
      start_interval: 30s
    ports:
      - '5210:80'
    networks:
      - backend
    restart: 
      always
    depends_on:
      keycloak:
        condition: service_healthy
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
  banking-loanmanagement:
    image: banking-loanmanagement
    container_name: banking-loanmanagement
    build:
      context: .
      dockerfile: src/Services/BankingApp.LoanManagement/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: '${ASPNETCORE_ENVIRONMENT:-Development}'
      ASPNETCORE_URLS: 'http://+:80'    
    healthcheck:      
      test: curl --fail http://banking-loanmanagement:80/health || exit 1      
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 60s
      start_interval: 30s
    ports:
      - '5273:80'
    networks:
      - backend
    restart: 
      always
    depends_on:
      keycloak:
        condition: service_healthy
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
volumes:
  db-data:
    driver: local  
  pgadmin_data:
  rabbitmq_data:
  redis_data:
  mongodb_data:
    driver: local
  mongo_config:
    driver: local  
networks:
  backend:
    name: backend
    driver: bridge
